.container {
    margin: 0 auto;
    padding: 100px 40px 0px 40px;
    width: 750px;
  }
  .round {
    display: inline-block;
    width:250px ;
    height: 250px;
    object-fit: cover;
  }
  .slick-next:before, .slick-prev:before {
      color: #000;
      
  }

  @media screen and (min-width: 300px) and (max-width:416px){
    .container{
      padding: 50px 10px 35px 10px;
      width: 250px;
    }
    .sliderItem2{
      width: 300px !important;
    }
  }
  @media screen and (min-width:700px) and (max-width: 1025px){
    .container{
      padding: 50px 10px 35px 10px;
      width: 400px;    
    }
    .sliderItem2{
      width: 400px !important;
    }
  }
