.sidebar-section{
    background-color: #1E2939;
    width: 370px;
    height: 1200px;
    
  }
  
  .avatar{
    width: 370px;
    height: 370px;
    object-fit: cover;
  }
  .signature{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
    margin: 10px 0 0 40px;
  }
  .contact-section{
  margin: 50px 0 0 40px;
  }
  
  .sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #FFF;
    margin-bottom: 10px;
  }
  
  /* Contact section */
  .contacts-section-type{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
    margin-right: 5px;
  }
  
  .contacts-section-link{
    color: #565E6A;
  
  }
  .sliderItem{
    width: 350px;
    display: inline-block;
  }
  
@media screen and (min-width: 359px) and (max-width:400px){
  .sidebar-section{
    width: 350px;
    height: 755px
  }
  .avatar{
    width: 350px;
    height: 314px;
  }
  
}
@media screen and (min-width: 401px) and (max-width:416px){
  .sidebar-section{
    height: 755px;
  }
  .avatar{

    height: 330px;
  }
  
}

@media screen and (min-width: 319px) and (max-width:321px){
  .sidebar-section{
    width: 300px;
    height: 535px;
  }
  .avatar{
    width: 300px;
    height: 300px;
  }
  
}

@media screen and (min-width: 767px) and (max-width:1025px){
  .sidebar-section{
    width: 300px;
    height: 900px;
  }
  .avatar{
    width: 300px;
    height: 300px;
  }
  
}